
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <!--tıklanan ögeye göre kategorideki ürünler geritelecek.-->
        <div class="single-products-catagory clearfix">
            <a href="shop.html"><!--href verilecek-->
                <img src="amado/img/bg-img/1.jpg" alt=""><!--Kategoriye ait ürünlerden ilk resim ya da herhangi bir resmi gelecek.-->
                <div class="hover-content">
                    <div class="line"></div>
                    <h4>Modern Chair</h4><!--Kategori isimleri gelecek--> 
                </div>
            </a>
        </div>

        
    </div>
</div>